/*============================
  RESET & GLOBAL
=============================*/

* {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /* display: grid; */
    display: flex;
    flex-direction: column;
    /* grid-template-rows: auto 1fr auto; */
    gap: 1rem;
    /* background-color: #eeeeee; */
    /* to compensate for the dispay:fixed nav */
    padding-top: 82px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
  }
  
  body, p, li {
    font-family: 'Roboto', sans-serif;
  }
  

    /*============================
    MAIN & WRAPPER
  =============================*/
  
  main {
    /* grid-row: 2; */
    max-width: 1280px;
    margin: 0 auto;

  }
  
  /* .wrapper {
 
  } */

  
  
  /*============================
    NAVIGATION BAR
  =============================*/
nav {
    /* grid-row: 1; */
    /* Makes the nav scroll with you; body-top 82px to compensate layout */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
  }




nav {
    /* background-color: white; */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    background-color: #1d2d50;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
    font-weight: 550;
    letter-spacing: 2px;
    font-size: 1.25rem;
}

nav li a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgba(241, 18, 18, 0.831);
    border-radius: 10px;
    font-weight: 550;

}

nav a:hover {
    background-color: #f0f0f07c;;
}

/* moves the first li-item to the far left */
 nav li:first-child { 
    margin-right: auto;
 }


.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.095);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}




  /*============================
    FOOTER
  =============================*/
  
  footer {
    /* grid-row: 3; */
    background-color: #b22222c8;
    color: white;
    padding: 2rem 1rem;
    text-align: center;
  }

  .iconText {
    display: flex;
    align-items: center;
    gap: 0.5rem; 
  }

  
  .footerBrand h2 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 550;
    letter-spacing: 2px;
  }
  
  .footerMain {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4.5rem;
    text-align: left;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .footerInfo h3 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: 550;
    letter-spacing: 2px;
  }
  
  .footerInfo p,
  .footerInfo li {
    font-size: 0.95rem;
    margin-bottom: 0.4rem;
  }

  
  .footerMain ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footerMain a {
    color: white;
    text-decoration: none;
  }
  
  .footerMain a:hover {
    text-decoration: underline;
    color: #1d2d50;
  }

  /* ============ Mobile ============= */
  @media (max-width: 767px) {

/*============================
    NAVIGATION BAR mobile
=============================*/
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
      }


/* =================
footer 
================== */

}


  @media (max-width: 450px) {
    .sidebar {
        width: 100%;
    }
  }